.small-box{class: "bg-#{color}"}
  .inner
    %h3= num
    %p
      = what_cn
  .icon
    = raw fa_icon(icon)

  = link_to raw("查看详情" + fa_icon("arrow-circle-right")), link, class: 'small-box-footer'
