= simple_form_for product do |form|
  = box_body_helper do
    = form.input :name, label: '商品名称'
    = form.input :quantity, label: '数量'
    = form.input :quantity_remain, label: '剩余'
    = form.input :price, label: '价格'
    = form.input :discount_price, label: '折后价'
    = form.input :short_desc, as: :text, label: '商品描述'
    = form.input :desc, as: :text, label: '商品详情'
    = form.submit '保存', class: primary_btn_helper

