.col-md-8
  = box_helper "success" do
    = box_header_helper "商品", :server do
      = render :partial => "form", locals: { product: @product }

.col-md-4
  = box_helper "success" do
    = box_body_helper do
      = render :partial => "widgets/list_place_holder" if @products.empty?
      - if @products.present?
        %table.table
          %thead
            %th ID
            %th 产品
          %tbody
            - @products.each do |product|
              %tr
                %td
                  \#
                  = link_to product.id, product_path(product)
                %td= product.name
          = paginate @products

  .phone-container.pull-right
    %iframe{src: mobile_path, frameborder: 0}
